.Todo-list-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width:50rem;
  border:1px solid black;
  min-height: 30rem;
  margin:5rem;
  background-color: rgb(203, 225, 221);
  border-radius: 1rem;
 
}
.todo-form{
  
  display: flex;
  width:100%;
  font-size: 2rem;
  margin-top: 3rem;
  gap:2rem;
}
.todo-form-input{
  border: 1px solid rgb(15, 15, 15);
  font-size:3.5rem;
  border-radius: 1rem;
  padding: 1rem;
}
.todo-form :-ms-input::placeholder{
  font-size:2rem;
 
}
.todo-form button{
  border: 1px solid black;
  border-radius: 1rem;
  background-color: rgba(171, 14, 14, 0.205);
  padding:1rem;
  cursor:pointer;
  font-weight:600;  
  font-size: 2.5rem;
}
.todo-form button:hover{
  background-color: plum;
  color: white;
  font-weight: 600;
  
}
.task-div{
  background-color: rgb(123, 178, 179);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:2rem;
  box-shadow: 1.5rem 1.5rem 1rem hsla(0, 0%, 0%, 0.114);
  
}
.todo-text{
  font-size: 2.5rem;
}
.icons{
  display: flex;
  gap:3rem;
  font-size: 2.5rem;
  cursor: pointer;
}
.complete{
  text-decoration: line-through;
  opacity:0.5;
  background-color: rgb(47, 161, 255);
}
.hide{
  display:none;
}
.todo-input{
font-size: 2rem;
 border-radius: 1rem;
 padding: 1rem;
 width: 20rem;
}